/*xwbg*/
.xwbg {position:absolute;left:0;top:0;width:100%;height:100%;-webkit-transition:opacity 2s linear;-moz-transition:opacity 2s linear;-o-transition:opacity 2s linear;transition:opacity 2s linear;opacity:0;z-index:-9;}
#bg2 {background:url(../img/background/Image.png) no-repeat;background-size:cover; height: 800px}
#bg1 {background:url(../img/background/GT.png) no-repeat;background-size:cover; height: 800px}
.fadein {opacity:70;filter:alpha(opacity=70);}
